{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "insertPragma": false,
    "requirePragma": false,
    "useTabs": false
}
